@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Poiret+One&display=swap');


.aboutDiv {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #22223b;
  padding: 10px;
  width: 100vw;
  height: 95vh;
}


.imgText {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 25px 0 0 0;
}

.imgClass {
  display: flex;
  height: 400px;
  margin: 50px 0 0 0;
  border: 2.5px solid #f2e9e4;
  border-radius: 10px;
}

.h1 {
  font-family: 'Bellota Text', cursive;
  color: #f2e9e4;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0 0 0 35px;
  color: #fefae0;
  font-family: 'Bellota Text', cursive;
  font-size: 1.1em;
}

.p > p{
  line-height: 1.6em;
  text-align: center;
}