@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Poiret+One&display=swap');


.bodyDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  background-color: #22223b;
  height: 100vh;
  font-family: 'Bellota Text', cursive;
  color: #f2e9e4;
  
}

.iconText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0 0 0;
}

.iconText > h3 {
  width: 60%;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: .07em;
  line-height: 1.5em;
  font-weight: 600;
}


.navIcon {
  height: 120px;
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 26px;
  border-radius: 15px;
}

.navLink:hover,
.navLink:focus {
  background-color: #f2e9e45c;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}