@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Poiret+One&display=swap');


.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #4a4e69;
  width: 100vw;
  min-height: 15%;
  padding: 10px;
  
}

.navCon {
  width: 100vw;
  min-height: 15%;
}

.navLink {
  margin: 20px 18px 10px 18px;
  text-decoration: none;
  color: #f2e9e4;
  font-family: 'Bellota Text', cursive;
  font-weight: 600;
}

/* #b36a5e;
#eee2df;
#82503c;
#eee2dfaf;
#d7aeab; */